<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          All Your Students
        </div>
        <div class="panel-body">
          <% @students.each do |student| %>
          <div class="row">
            <div class="col-md-7">
              <h3><%= student.name %></h3>
              <h4><%= student.bio %></h4>
              <%= image_tag student.image_url, class: "student_images" %>
            </div>
            <div class="col-md-3 right">
              <%= link_to "View", student, class: "btn btn-default" %>
              <%= link_to "Update", edit_student_path(student), class: "btn btn-default" %>
            </div>
          </div>
          <% end %>

        </div>
      </div>
      <%= link_to "Add new student", new_student_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
